apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${CERTIFICATE_AUTHORITY_DATA}
    server: https://$STAGING_SERVER_IP:6445
  name: ${STAGING_CLUSTER}
contexts:
- context:
    cluster: ${STAGING_CLUSTER}
    user: admin@${STAGING_CLUSTER}
  name: ${STAGING_CLUSTER}
current-context: ${STAGING_CLUSTER}
kind: Config
preferences: {}
users:
- name: admin@${STAGING_CLUSTER}
  user:
    client-certificate-data: ${CLIENT_CERTIFICATE_DATA}
    client-key-data: ${CLIENT_KEY_DATA}