CONNECT_PLUGIN_PATH=/usr/share/java,/usr/share/confluent-hub-components
CONNECT_BOOTSTRAP_SERVERS=pkc-4nym6.us-east-1.aws.confluent.cloud:9092
CONNECT_PRODUCER_BOOTSTRAP_SERVERS=pkc-4nym6.us-east-1.aws.confluent.cloud:9092
CONNECT_GROUP_ID=netsuite2splunk-cluster
CONNECT_CONFIG_STORAGE_TOPIC=netsuite2splunk-configs
CONNECT_OFFSET_STORAGE_TOPIC=netsuite2splunk-offsets
CONNECT_STATUS_STORAGE_TOPIC=netsuite2splunk-status
CONNECT_KEY_CONVERTER=org.apache.kafka.connect.storage.StringConverter
CONNECT_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_REST_ADVERTISED_HOST_NAME=localhost
CONNECT_SASL_MECHANISM=PLAIN
CONNECT_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule\ required\ username=\"UIQUWCE2PU3PFQOA\"\ password=\"cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm\";
CONNECT_SECURITY_PROTOCOL=SASL_SSL
CONNECT_REST_PORT=8083
CONNECT_INTERNAL_KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_INTERNAL_VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
CONNECT_CONSUMER_AUTO_OFFSET_RESET=latest
CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE=false
CONNECT_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=https
CONNECT_REQUEST_TIMEOUT_MS=20000
CONNECT_RETRY_BACKOFF_MS=500
CONNECT_PRODUCER_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=https
CONNECT_PRODUCER_SECURITY_PROTOCOL=SASL_SSL
CONNECT_PRODUCER_SASL_MECHANISM=PLAIN
CONNECT_PRODUCER_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule\ required\ username=\"UIQUWCE2PU3PFQOA\"\ password=\"cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm\";
CONNECT_PRODUCER_REQUEST_TIMEOUT_MS=20000
CONNECT_PRODUCER_RETRY_BACKOFF_MS=500
CONNECT_CONSUMER_BOOTSTRAP_SERVERS=pkc-4nym6.us-east-1.aws.confluent.cloud:9092
CONNECT_CONSUMER_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=https
CONNECT_CONSUMER_SECURITY_PROTOCOL=SASL_SSL
CONNECT_CONSUMER_SASL_MECHANISM=PLAIN
CONNECT_CONSUMER_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule\ required\ username=\"UIQUWCE2PU3PFQOA\"\ password=\"cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm\";
CONNECT_CONSUMER_REQUEST_TIMEOUT_MS=20000
CONNECT_CONSUMER_RETRY_BACKOFF_MS=500
CONNECT_OFFSET_FLUSH_INTERVAL_MS=10000
CONNECT_OFFSET_STORAGE_FILE_FILENAME=/tmp/connect.offsets
CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR=3
CONNECT_OFFSET_STORAGE_PARTITIONS=3
CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR=3
CONNECT_STATUS_STORAGE_REPLICATION_FACTOR=3
# Arguments for the run command
KAFKA_NAME={{KAFKA_NAME}}
CONNECTOR_CLASS={{CONNECTOR_CLASS}}
TASKS_MAX={{TASKS_MAX}}
TOPICS={{TOPICS}}
SPLUNK_INDEXES={{SPLUNK_INDEXES}}
SPLUNK_HEC_URI={{SPLUNK_HEC_URI}}
SPLUNK_HEC_TOKEN={{SPLUNK_HEC_TOKEN}}
SPLUNK_HEC_RAW={{SPLUNK_HEC_RAW}}
SPLUNK_HEC_TOTAL_CHANNELS={{SPLUNK_HEC_TOTAL_CHANNELS}}
SPLUNK_HEC_ACK_ENABLED={{SPLUNK_HEC_ACK_ENABLED}}
SPLUNK_HEC_SSL_VALIDATE_CERTS={{SPLUNK_HEC_SSL_VALIDATE_CERTS}}
