CONNECT_PLUGIN_PATH="/usr/share/java,/usr/share/confluent-hub-components"
CONNECT_REST_PORT=8083
CONNECT_INTERNAL_KEY_CONVERTER="org.apache.kafka.connect.json.JsonConverter"
CONNECT_INTERNAL_VALUE_CONVERTER="org.apache.kafka.connect.json.JsonConverter"
CONNECT_REST_ADVERTISED_HOST_NAME="localhost"
CONNECT_CONSUMER_AUTO_OFFSET_RESET="latest"
CONNECT_BOOTSTRAP_SERVERS='pkc-4nym6.us-east-1.aws.confluent.cloud:9092'
CONNECT_KEY_CONVERTER="org.apache.kafka.connect.storage.StringConverter"
CONNECT_VALUE_CONVERTER="org.apache.kafka.connect.json.JsonConverter"
CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE="false"
CONNECT_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM='https'
CONNECT_SECURITY_PROTOCOL='SASL_SSL'
CONNECT_SASL_MECHANISM='PLAIN'
CONNECT_SASL_JAAS_CONFIG='org.apache.kafka.common.security.plain.PlainLoginModule required username="UIQUWCE2PU3PFQOA" password="cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm";'
CONNECT_REQUEST_TIMEOUT_MS="20000"
CONNECT_RETRY_BACKOFF_MS="500"
CONNECT_PRODUCET_BOOTSTRAP_SERVERS="pkc-4nym6.us-east-1.aws.confluent.cloud:9092"
CONNECT_PRODUCER_SSL_ENDPOINT_IDENTIFICATION_ALGORITH="https"
CONNECT_PRODUCER_SECURITY_PROTOCOL="SASL_SSL"
CONNECT_PRODUCER_SASL_MECHANISM="PLAIN"
CONNECT_PRODUCER_SASL_JAAS_CONFIG='org.apache.kafka.common.security.plain.PlainLoginModule required username="UIQUWCE2PU3PFQOA" password="cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm";'
CONNECT_PRODUCER_REQUEST_TIMEOUT_MS="20000"
CONNECT_PRODUCER_RETRY_BACKOFF_MS="500"
CONNECT_CONSUMER_BOOTSTRAP_SERVERS="pkc-4nym6.us-east-1.aws.confluent.cloud:9092"
CONNECT_CONSUMER_SSL_ENDPOINT_IDENTIFICATION_ALGORITH="https"
CONNECT_CONSUMER_SECURITY_PROTOCOL="SASL_SSL"
CONNECT_CONSUMER_SASL_MECHANISM="PLAIN"
CONNECT_CONSUMER_SASL_JAAS_CONFIG='org.apache.kafka.common.security.plain.PlainLoginModule required username="UIQUWCE2PU3PFQOA" password="cRTMzcUoMFmvmZ9CEvcVjfuyZ2zVhS3a0djRMMK6D9u14dQkYCCEB7iCNE46jfzm";'
CONNECT_CONSUMER_REQUEST_TIMEOUT_MS="20000"
CONNECT_CONSUMER_RETRY_BACKOFF_MS="500"
CONNECT_OFFSET_FLUSH_INTERVAL_MS="10000"
CONNECT_OFFSET_STORAGE_FILE_FILENAME="/tmp/connect.offsets"
CONNECT_GROUP_ID="netsuite2splunk-cluster"
CONNECT_OFFSET_STORAGE_TOPIC="netsuite2splunk-offsets"
CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR="3"
CONNECT_OFFSET_STORAGE_PARTITIONS="3"
CONNECT_CONFIG_STORAGE_TOPIC="netsuite2splunk-configs"
CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR="3"
CONNECT_STATUS_STORAGE_TOPIC="netsuite2splunk-status"
CONNECT_STATUS_STORAGE_REPLICATION_FACTOR="3"
# Arguments for the run command
KAFKA_NAME=kafka-connect-splunk
CONNECTOR_CLASS="com.splunk.kafka.connect.SplunkSinkConnector"
TASKS_MAX="3"
TOPICS="products,customers,orders"
SPLUNK_INDEXES="sandbox_kafka"
SPLUNK_HEC_URI="https://http-inputs-mmlafleur.splunkcloud.com:443"
SPLUNK_HEC_TOKEN="6492f5aa-77ac-4b42-bb9e-380fcdd60b3d"
SPLUNK_HEC_RAW="true"
SPLUNK_HEC_TOTAL_CHANNELS="1"
SPLUNK_HEC_ACK_ENABLED="false"
SPLUNK_HEC_SSL_VALIDATE_CERTS="false"
